<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database"
              dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
              connectionString="server=119.3.42.240;userid=tools;pwd=WneLGiYYp5AxGGem;port=6603;database=tools;sslmode=none"
             >
      <commandText>
        insert into tools.sys_log (
        application, logged, level, message,
        logger, callSite, exception
        ) values (
        @application, @logged, @level, @message,
        @logger, @callsite, @exception
        );
      </commandText>
      <parameter name="@application" layout="nlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" writeTo="database" />
  </rules>
</nlog>