@model Akeem.Web.ToolBox.Models.ToolShortUrl

@{
    ViewData["Title"] = "短网址";
}

<h1>压缩网址</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Compress">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">输入将要缩短的长网址:</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="压缩" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
